.profile-pic-post {
    height: 44px;
    width: 44px;
    object-fit: cover;
    border-radius: 100%;
}

.post-pic {
    width: 100%;
    object-fit: cover;
}

.games {
    bottom: -20px;
    right: 0px;
    left: 0px;
    text-align: initial;
    display: block !important;
}

.color-black {
    color: black;
}