.background-login {
  background-repeat: repeat;
  padding-top: 120px !important;
  background-size: contain;
}

.bg-togepi {
  background-image: url("https://res.cloudinary.com/andrxsaf/image/upload/v1648172888/togebackground_lqfjyd.png");
}

.bg-colorful {
  background-image: url("https://res.cloudinary.com/andrxsaf/image/upload/v1648173374/colorfulbackground_sa4pqr.png");
}

.bg-ps {
  background-image: url("https://res.cloudinary.com/andrxsaf/image/upload/v1648172888/psbackground_ek3yay.png");
}

.login-container-left {
  width: calc(100vw / 2);
  max-height: 600px;
}

.login-container-right {
  width: calc(100vw / 2);
}

.login-form {
  width: 380px;
}

.img-login {
  width: 300px;
}

.title-login {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .login-form {
    width: 100%;
  }
  .login-container-left {
    display: none !important;
  }
  .login-container-right {
    width: 100% !important;
  }
  .login-form {
    background: none !important;
    border: none !important;
  }
  .title-login {
    display: block;
  } 
  .register-form {
    background: rgba(255, 255, 255, 0.4) !important;
  }
}